.card {
    border: 3px solid aqua;
    border-radius: 25px;
    background-color: #16151584;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    color: whitesmoke;
  }
  body{
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height: 120vh;
    background: linear-gradient(to right, rgb(127, 255, 242), rgb(0, 149, 255)  );
  }
  .project{
    position: absolute;
    width: 750px;
    min-height: 450px;
    background: rgb(30, 30, 30);
    padding: 0 30px;
    border-radius: 25px;
    border: 5px solid aqua;
    color: aquamarine;
    justify-content:center;
    align-items:center;
    backdrop-filter: blur(15px);
}
.user-input-box:nth-child(2n){
  justify-content: center;
  align-items: center;
}

.user-input-box{
  justify-content: center;
  align-items: center;
  width:310px;
  margin:30px 0;
  border-bottom:1px solid #ffffff00;
  
}

.user-input-box label{
  width: 95%;
  justify-content:center;
  align-items: center;
  color: aquamarine;
  font-size: 32px;
  font-weight: 600;
  margin: 5px 0;
}

.user-input-box input{
height: 40px;
width: 95%;
border-radius: 25px;
outline: none;
background-color: rgba(1, 252, 252, 0.188);
border: 2px solid rgb(1, 252, 252);
padding: 0 10px;
color: whitesmoke;

}

.form-submit-btn{
  margin-top: 40px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.form-submit-btn input{
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border:none;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.71);
  border: 2px solid aqua;
  color: aquamarine;
}

.form-submit-btn input:hover{
background: rgb(0, 0, 0);
border: 2px solid aqua;
color: aquamarine;
}
button {
background: rgb(0, 0, 0);
border: 2px solid aqua;
color: aquamarine;
border-radius: 20px;
padding: 5px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
margin: 2px;
cursor: pointer;
}